[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group LocationInsights-admins-67bfdcd
	read = group LocationInsights-admins-67bfdcd
	read = group Registered Users
	read = group Replication_Gamma_Migration_DO_NOT_REMOVE
	createTag = group LocationInsights-admins-67bfdcd
	createTag = group Registered Users
	forgeAuthor = group LocationInsights-admins-67bfdcd
	forgeCommitter = group LocationInsights-admins-67bfdcd
	push = group LocationInsights-admins-67bfdcd
	push = group Registered Users
	pushMerge = group LocationInsights-admins-67bfdcd
	label-Code-Review = -2..+2 group LocationInsights-admins
	label-Verified = -1..+1 group LocationInsights-admins-67bfdcd
	label-Verified = -1..+1 group Registered Users
	submit = group LocationInsights-admins-67bfdcd
[access "refs/changes/master"]
	push = group Registered Users
[access "^refs/for/d.*"]
	create = group Registered Users
	push = group Registered Users
	pushMerge = group Registered Users
[access "^refs/for/refs/heads/d.*"]
	pushMerge = group Registered Users
[access "refs/for/refs/heads/master"]
	create = group Registered Users
	push = group Registered Users
	pushMerge = group Registered Users
[access "^refs/heads/d.*"]
	create = group Registered Users
	push = group Registered Users
	pushMerge = group Registered Users
[access "^refs/tags/d.*"]
	create = group Registered Users
	createTag = group Registered Users
	push = group Registered Users
	pushMerge = group Registered Users
[plugin "data-owner"]
	DataOwner = earujos
	DataOwnerDepartment = BCSS NM Eng EE Development Tools
